body {
	font-family: Arial, Verdana, Helvetica;
}

#criteria{
  position                         : absolute;
  width                              : 100%;
  height                             : 1;
  z-index                            : 1;
  top                                : 2;
  left                               : 2;
  right                              : 2;
  bottom                             : 2;
  font-size                          : 2.0em;
  color                              : #1da9d3;
  display                            : block;
  text-align                         : center;
  white-space                        : nowrap;
  line-height                        : 100%;
  -webkit-transition-duration        : 0.2s;
  -moz-transition-duration           : 0.2s;
  -o-transition-duration             : 0.2s;
  transition-duration                : 0.2s;
  -webkit-transition-timing-function : ease-out;
  -moz-transition-timing-function    : ease-out;
  -o-transition-timing-function      : ease-out;
  transition-timing-function         : ease-out;
}

#section {
	padding: 20px;
	height: 50%;
}

#logInForm, #signUpForm, #registerForm {
	padding: 20px;
	border-style: dashed;
	border-color: #ffffff;
}

#content{
	padding: 20px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

#footer { 
   background-color: #207dba;
   color: #ffffff;
   padding: 20px 20px;
   bottom: 0;
   position: relative;

}

#navBar .font{
	background-color: #123456;
	color: #ffffff;

}

#colorHover:hover {
	background-color: #ffffff;
	color: #123456;
}


